<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BECounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BECounter.Properties.Settings>
            <setting name="loadRecently" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertExit" serializeAs="String">
                <value>False</value>
            </setting>
        </BECounter.Properties.Settings>
    </userSettings>
</configuration>